.contenedor-juego {
  background-color: #1b2440;
  border-radius: 5%;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100svh;
  color: white;
}

.estrella {
  font-size: 2.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.estrella:hover {
  transform: scale(1.3);
}

.boton-reiniciar {
  background-color: #ffce00;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.boton-reiniciar {
  background-color: #ffe866;
}