.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background: linear-gradient(135deg, #a7f0ff, #0e8bff);
    background-attachment: fixed;
    text-shadow: 1px 1px rgba(50,50,70,0.5);
    color: rgb(0, 0, 0);
    flex: 1;
}


body, #root {
    height: 100%;
    margin: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.modo-claro {
    background: linear-gradient(135deg, #a7f0ff, #0e8bff);
    text-shadow: 1px 1px rgba(50, 50, 70, 0.5);
    color: rgb(19, 19, 19);
}

.modo-oscuro {
    background: linear-gradient(135deg, #06212e, #0e8bff);
    text-shadow: 1px 1px #216580;
    color: rgb(221, 246, 254);
}

.nav-oscuro {
    background-color: rgb(16, 20, 40);
    color:aliceblue;
}


.nav-oscuro .navbar-brand,
.nav-oscuro .nav-link {
  color: aliceblue !important;
}

.nav-claro {
     background-color: rgb(27, 65, 255);
     color: whitesmoke;
}

.nav-claro .navbar-brand,
.nav-claro .nav-link {
  color: whitesmoke !important;
}

.toggler-unico {
  border-color: #ffffff;
}

.toggler-unico .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
