.navBg {
    background-color: rgb(27, 65, 255);
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background: linear-gradient(135deg, #a7f0ff, #0e8bff);
    background-attachment: fixed;
    text-shadow: 1px 1px rgba(50,50,70,0.5);
    color: rgb(0, 0, 0);
    flex: 1;
}


body, #root {
    height: 100%;
    margin: 0;
}